{
  "Actions": [
    {
      "Name": "FreeCameraForward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "FreeCameraBackward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "FreeCameraLeft",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "FreeCameraRight",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "FreeCameraUP",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "FreeCameraDown",
      "KeyboardCode": "ctrl",
      "GamepadCode": "B",
      "GroupName": "Movement"
    },
    {
      "Name": "Select",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "DeSelect",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "FreeCameraReset",
      "KeyboardCode": "r",
      "GamepadCode": "X",
      "GroupName": "Actions"
    },
    {
      "Name": "FreeCameraEnable",
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth",
      "GroupName": "Actions"
    }
  ],
  "__guid": "13bb3b6f-f9f3-47a5-a863-bf7a3eeb0858",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}